body {
  padding: 20px;
}

img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
