:root {
    --background-color: #0E0E10;
    --text-color: #EDEDED;
    --author-color: #A69EFF;
    --heading-color: #C3B9FF;
    --link-color: #B7A9FF;    
    --link-visited: #9B8DE0;   
    --divider-color: #1E1E22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  border: 3px solid rgba(224, 170, 101, 0.6); 
  border-radius: 20px; 
  margin: 20px;   
  padding: 20px; 
  box-shadow: 0 0 20px rgba(224, 170, 101, 0.3); 
}

.Author {
    color: var(--author-color);
    font-size: xx-large;
}

h3 {
    color: var(--heading-color);
    font-size: 1.5rem;
    margin-top: 1rem;
}

hr {
    border: none;
    border-top: 1px solid var(--divider-color);
    margin: 1.5rem 0;
}
#htmlImage {
  display: block;
  margin: 0 auto 1.5rem auto;   
  width: 300px;
  height: 300px;
  border: 4px solid var(--heading-color);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(198, 188, 255, 0.3);
}


#htmlImage:hover {
  
  box-shadow: 0 0 25px rgba(198, 188, 255, 0.6); /* enhances glow a bit */
}

a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: var(--link-color); /* elegant purple shade */
  text-decoration: underline;
  font-size: x-large;
}
#image {
    background-color: var(--background-color);
}
ul {
  margin: 1.5rem 0;
  padding-left: 2rem;
  list-style-type: disc;
}
.skills,.education,.AreasOnIntrest {
  padding: 1.5rem;
  background-color: var(--background-color);
  border: 2px solid var(--divider-color);
  border-radius: 12px;
  margin-bottom: 1.5rem; /* adds nice spacing between sections */
}
