body{
    background-color: black;
    color: white;
}
.Author{
    color: rgb(224, 170, 101);
    font-size: xx-large;
}
#image{
    color: black;
    background-color: black;
}
h3{
    color: burlywood;
    font-size: 1.5rem;
}
a:hover{
   font-size: 1.5rem; 
   color: brown;
}
a{
    text-decoration: none;
    color: rgb(226, 139, 24);
    font-weight: bold;
    text-decoration: underline;
}
